@font-face {
  font-family: "Kingdom Hearts"; src:url('http://static.tumblr.com/npggxjg/rnqm22s5d/kingdom_hearts.ttf');
}

// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  // background-repeat: no-repeat;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1{
  font-family: "Kingdom Hearts", sans-serif;
  margin-bottom: 0;
  text-align: center;
  font-weight: lighter;
  font-size: 80px;
  color: #6D6D6D;
  text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
  font-size: 100px;
}

h2{
  font-family: "Kingdom Hearts", sans-serif;
  margin-top: 0;
  text-align: center;
  font-weight: lighter;
  color: #6D6D6D;
  text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
  font-size: 45px
}

.new-game{
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid black;
  button{
    background-color: #FBD000;
    border: 2px solid black;
    height: 30%;
  }
  h4{
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    display: inline;
  }
}
